<style type="text/css">

table.readings {
    border: medium outset gray;
    border-spacing : 5px;
    border-collapse: collapse;
}

table.readings td{
    border: medium outset gray;
    padding: 5px;
}

table.readings th{
    border: medium outset gray;
    padding: 5px;
}