<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


    <!-- Set view resolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/>
        <property name="contentType" value="text/html; charset=UTF-8"/>
    </bean>

    <!-- Method/URL mapping to controller -->
    <bean class="org.springframework.web.servlet.handler.MethodUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="GET /node/*">nodeInfoController</prop>
                <prop key="GET /link/*/*">linkInfoController</prop>
            </props>
        </property>
    </bean>

    <!-- Node Controller -->
    <bean name="nodeInfoController" class="uberdust.controllers.NodeInfoController">
        <property name="commandClass" value="uberdust.commands.NodeCommand"/>
        <property name="nodeManager" ref="nodeManager"/>
        <property name="uriPattern" value="/node/{nodeId}"/>
        <property name="viewNameSelector">
            <bean class="org.springframework.web.servlet.RestViewNameSelector">
                <property name="defaultViewName" value="node"/>
                <property name="views">
                    <map>
                        <entry key="text/html" value="node/index"/>
                        <entry key="text/html" value="node/error"/>
                    </map>
                </property>
            </bean>
        </property>
    </bean>

    <!-- LinkInfoController -->
    <bean name="linkInfoController" class="uberdust.controllers.LinkInfoController">
        <property name="commandClass" value="uberdust.commands.LinkCommand"/>
        <property name="linkManager" ref="linkManager"/>
        <property name="uriPattern" value="/link/{sourceId}/{targetId}"/>
        <property name="viewNameSelector">
            <bean class="org.springframework.web.servlet.RestViewNameSelector">
                <property name="defaultViewName" value="link"/>
                <property name="views">
                    <map>
                        <entry key="text/html" value="link/index"/>
                        <entry key="text/html" value="link/error"/>
                    </map>
                </property>
            </bean>
        </property>
    </bean>
</beans>